@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff');
	src: local('../fonts/Gilroy-Regular'), local('Gilroy-Regular'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Black';
	src: url('../fonts/Gilroy-Black.woff');
	src: local('../fonts/Gilroy-Black'), local('Gilroy-Black'),
		url('../fonts/Gilroy-Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Bold';
	src: url('../fonts/Gilroy-Bold.woff');
	src: local('../fonts/Gilroy-Bold'), local('Gilroy-Bold'),
		url('../fonts/Gilroy-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy ExtraBold';
	src: url('../fonts/Gilroy-ExtraBold.woff');
	src: local('../fonts/Gilroy-ExtraBold'),
		local('Gilroy-ExtraBold'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Heavy';
	src: url('../fonts/Gilroy-Heavy.woff');
	src: local('../fonts/Gilroy-Heavy'), local('Gilroy-Heavy'),
		url('../fonts/Gilroy-Heavy.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Light';
	src: url('../fonts/Gilroy-Light.woff');
	src: local('../fonts/Gilroy-Light'),
		local('Gilroy-Light'),
		url('../fonts/Gilroy-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Medium';
	src: url('../fonts/Gilroy-Medium.woff');
	src: local('../fonts/Gilroy-Medium'),
		local('Gilroy-Medium'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy SemiBold';
	src: url('../fonts/Gilroy-SemiBold.woff');
	src: local('../fonts/Gilroy-SemiBold'),
		local('Gilroy-SemiBold'),
		url('../fonts/Gilroy-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}